# Data & DB
data/
*.db
*.db-journal
*.db-wal
*.db-shm

# Node
node_modules/
.next/
out/
*.tsbuildinfo
next-env.d.ts

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# Docker
.dockerignore

# Logs
*.log

# Env
.env
.env.local
.env.production

# IDE
.vscode/
.idea/
vps_index.html
